/* guus.css by Guus Beckett -2015 **************************************************/

body{
	background-image: url('https://reupload.nl/images/night.jpg');
	color: white;
	font-family: helvetica;
	font-size: 12;
}

h2 {
	font-family: "helvetica";
	background-color: #FEFEFE;
	color: #555555;
}

article {
	width: 30%;
	display: inline-block;
	vertical-align: top;
}

table{
	border-width: 1px;
	border-style: outset;
}

table th {
	border-width: 1px;
	border-style: inset;
}
table td {
	border-width: 1px;
	border-style: inset;
}